.chat-box {
    width: 300px;
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 870px;
    margin-top: 430px;
    transform: scale(2);
  }

  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4CAF50;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  


  @media (max-aspect-ratio: 7/10) {

    .chat-box {
      position: absolute;
      right: 20%;    
      transform: scale(1.5);
      height: 150px;
    } 

    .chatContainer{
      height: 100%;
      width: 100%;
      background-image: url('src\assets\starry-night-sky.jpg');
    }

  }